</head>

<body>
<div id="fb-root"></div>
<div class="app-wrapper">
	<div id="app-loading" >
		<div class="sk-folding-cube">
			<div class="sk-cube1 sk-cube"></div>
			<div class="sk-cube2 sk-cube"></div>
			<div class="sk-cube4 sk-cube"></div>
			<div class="sk-cube3 sk-cube"></div>
		</div>
	</div>
	<div id="app-body" style="visibility:none" />
</div>
<meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
<script>
  window.addEventListener("load", function(event) {
	document.getElementById('app-body').style.visibility = 'visible';
	document.getElementById('app-loading').style.opacity = '0';
  });
</script>
<script type="text/javascript" src="/bundle/bundle.js"></script>
</body>
</html>
