.title{
    font-weight: bold;
    font-size: 14px;
}

.para_wrapper{
    padding:20px;
}
.para{
    font-size: 13px;
    line-height: 1.5em;
}

.wrapper{
    text-align: justify;
    letter-spacing: 0.01px;
    margin: auto;
    display: flex;
    flex-direction: column;
}

/*@media (max-width: 700px) {
  .wrapper {
      flex-direction: column;
  }
}

@media (min-width: 700px) {
  .wrapper {
      flex-direction: row;
  }
}*/
.slide_show{
    max-width: 1000px;
    width: 100vw;
    height: auto;
    min-height: 20vh;
}
.carousel_img {
	width:  100vw;
	object-fit: cover;
    height: auto;
    min-height: 0;
}

.intro_para{
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    max-width: 600px;
    width: 80vw;
}

.cover_container {
	position: relative;
    min-width: 90vw;
	/*display: flex;*/
	/*justify-content: center;*/
}
