
.content_left {
	padding-right: 10px;
	padding-left: 20px;
}

.content_left a{
	color: #515151;
}

.content_wrapper{
	display: flex;
	max-width: 800px;
	margin-left: auto;
    margin-right: auto;
    border-bottom: solid 1px #e2e2e2;
}
@media only screen and (max-width:768px){
.content_wrapper{
	flex-direction: column;
}
}

@media only screen and (min-width:768px){
.content_left_wrapper{
	position: sticky; top: 10px;
}
}

.content_left h1{
	marginTop: 10px;
	fontSize: 5px;
	fontWeight: bold;
	fontFamily: HelveticaNeue-Light;
}
.content_right {
	padding: 20px;
}

.content_right img {
	display: block;
	object-fit: contain;
	width: 100%;
}

.youtube_wrapper{
	position: relative;
	padding-bottom: 70%;
	height: 0;
	overflow: hidden;
	margin-bottom: 10px;
}
